@media (max-width: 1300px) {
  .container-top-news.latest .topbar {
    .line {
      width: 100%;
    }
  }
  .poster-info {
    font-size: 20px;
  }
  .poster-ad button {
    padding: 3px 42px 0 42px;
    height: 48px;
  }

  .container-latest-news {
    flex-direction: column;
    .latest-news-container {
      justify-content: space-between;
    }
    .latest-news-main {
      margin-bottom: 38px;
    }
    .sidebar {
      width: unset;
    }
    .sidebar-posts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 27px;
      margin-bottom: 35px;
      .latest-news-box {
        width: 30%;
        .small-news-wrapper {
          flex-direction: column;
          .news-box-small--image {
            height: 138px;
          }
          .news-box-small--info {
            h5 {
              line-height: 18px;
              font-size: 16px;
              width: 100%;
            }
            .news-date {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .visible-box {
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
  }
  .container-top-section {
    flex-direction: column;
    .news-box-small--info {
      justify-content: center;
      white-space: nowrap;
    }
    .top-news-box {
      width: 86%;
      margin: 0 auto;
      &:first-child {
        min-height: 400px;
        margin-bottom: 40px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .container-social {
    display: none;
  }
  footer .social-feed {
    display: flex;
  }
  .container-top-news {
    display: flex;
    justify-content: center;
  }
  .container-top-news .topbar:not(.container-top-news.latest .topbar),
  .container-latest-news .topbar,
  .container-trending-news .topbar {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;

    ul {
      font-size: 16px;
    }
    .text-with-line-wrapper {
      width: 100%;

      .line {
        width: 100%;
      }
    }
  }
}
@media (max-width: 992px) {
  footer {
    padding: 20px 31px;
    .footer-main-container {
      flex-direction: column;
      .footer-box {
        border-bottom: unset !important;
      }
    }
  }

  .container-latest-news .latest-news-container.main .latest-new {
    flex-basis: 46%;
  }
  .container-top-section {
    padding: 0px 15px;
    .news-box-small--info {
      white-space: normal;
    }
  }

  .visible-box {
    width: 93%;
    .slider-box--img {
      max-width: 110px;
      height: 110px;
    }

    p,
    .slider-box---date {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .copyright-box {
    padding: 12px;
    font-size: 13px;
    ul {
      gap: 5px;
    }
  }
  .container-top-news.latest .topbar {
    padding: 0;
  }
  .container-top-section,
  .container-latest-news {
    padding: 20px 31px;
  }
  .container-latest-news {
    .sidebar-posts {
      justify-content: center;
      .latest-news-box {
        width: 47%;
      }
    }
  }

  .visible-box {
    width: 97%;
    p,
    .news-date {
      font-size: 14px;
    }
  }
}

@media (max-width: 576px) {
  .container-latest-news .latest-news-container.main {
    justify-content: center;
    .latest-new {
      flex-basis: 85%;
    }
  }
  .background-news-wrapper-box {
    flex-direction: column;
    gap: 40px;
  }
  .header-container .btn.gradient {
    display: none;
  }
  .visible-box {
    width: 98%;
    .slider-box {
      gap: 5px;
      &--img {
        height: 75px;
      }
    }
    p,
    .news-date {
      font-size: 12px;
    }
  }
  .container-top-news--categories {
    justify-content: center;
  }
  .container-latest-news .sidebar-posts {
    .latest-news-box {
      width: 100%;
      .small-news-wrapper {
        flex-direction: row;
        .news-box-small--info {
          justify-content: center;
        }
      }
    }
  }
}
