@media (max-width: 1300px) {
  .about-page {
    padding: 47px 52px;
  }
  .container-top-news.latest .topbar .line {
    width: 100%;
  }
  .poster-info {
    font-size: 20px;
  }
  .poster-ad button {
    padding: 3px 42px 0 42px;
    height: 48px;
  }
  .container-latest-news {
    flex-direction: column;
  }
  .container-latest-news .latest-news-container {
    justify-content: space-between;
  }
  .container-latest-news .latest-news-main {
    margin-bottom: 38px;
  }
  .container-latest-news .sidebar {
    width: unset;
  }
  .container-latest-news .sidebar-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 27px;
    margin-bottom: 35px;
  }
  .container-latest-news .sidebar-posts .latest-news-box {
    width: 30%;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper {
    flex-direction: column;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper .news-box-small--image {
    height: 138px;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper .news-box-small--info h5 {
    line-height: 18px;
    font-size: 16px;
    width: 100%;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper .news-box-small--info .news-date {
    font-size: 13px;
  }
  .visible-box {
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
  }
  .top-news-box-wrapper {
    flex-direction: column;
  }
  .top-news-box-wrapper .container-top-section .top-news-box .small-news-wrapper:not(:last-child) {
    margin-bottom: 20px;
  }
  .top-news-box-wrapper .news-box-small--info {
    justify-content: center;
    white-space: nowrap;
  }
  .top-news-box-wrapper .top-news-box {
    width: 86%;
    margin: 0 auto;
  }
  .top-news-box-wrapper .top-news-box:first-child {
    min-height: 400px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .container-latest-news .latest-news-container.main {
    justify-content: center;
  }
  .container-latest-news .latest-news-container.main .latest-new {
    flex-basis: 47%;
  }
  .container-social {
    display: none;
  }
  footer .social-feed {
    display: flex;
  }
  .container-top-news {
    display: flex;
    justify-content: center;
  }
  .container-top-news .topbar:not(.container-top-news.latest .topbar),
.container-latest-news .topbar,
.container-trending-news .topbar {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
  }
  .container-top-news .topbar:not(.container-top-news.latest .topbar) ul,
.container-latest-news .topbar ul,
.container-trending-news .topbar ul {
    font-size: 16px;
  }
  .container-top-news .topbar:not(.container-top-news.latest .topbar) .text-with-line-wrapper,
.container-latest-news .topbar .text-with-line-wrapper,
.container-trending-news .topbar .text-with-line-wrapper {
    width: 100%;
  }
  .container-top-news .topbar:not(.container-top-news.latest .topbar) .text-with-line-wrapper .line,
.container-latest-news .topbar .text-with-line-wrapper .line,
.container-trending-news .topbar .text-with-line-wrapper .line {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .about-page .about-container .about-boxes-wrapper {
    flex-wrap: wrap;
  }
  .about-page .about-container .about-boxes-wrapper .box {
    flex-basis: 48%;
  }
  footer {
    padding: 20px 31px;
  }
  footer .footer-categories {
    justify-content: flex-start;
  }
  footer .footer-main-container {
    flex-direction: column;
  }
  footer .footer-main-container .footer-box {
    border-bottom: unset !important;
  }
  .container-top-section {
    padding: 0px 15px;
  }
  .container-top-section .news-box-small--info {
    white-space: normal;
  }
  .visible-box {
    width: 93%;
  }
  .visible-box .slider-box--img {
    max-width: 110px;
    height: 110px;
  }
  .visible-box p,
.visible-box .slider-box---date {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container-latest-news .latest-news-container.main .latest-new {
    flex-basis: 100%;
  }
  .about-page .about-container .about-boxes-wrapper {
    justify-content: center;
  }
  .about-page .about-container .about-boxes-wrapper .box {
    flex-basis: 100%;
  }
  .copyright-box {
    padding: 12px;
    font-size: 13px;
  }
  .copyright-box ul {
    gap: 5px;
  }
  .container-top-news.latest .topbar {
    padding: 0;
  }
  .container-top-section,
.container-latest-news {
    padding: 20px 31px;
  }
  .container-latest-news .sidebar-posts {
    justify-content: center;
  }
  .container-latest-news .sidebar-posts .latest-news-box {
    width: 47%;
  }
  .visible-box {
    width: 97%;
  }
  .visible-box p,
.visible-box .news-date {
    font-size: 14px;
  }
  .top-news-box-wrapper .top-news-box {
    width: 100%;
  }
  .contact-page {
    padding: 0;
  }
  .contact-page .contact-form-container {
    width: 94%;
  }
  .about-page {
    padding: 25px 15px;
  }
}
@media (max-width: 576px) {
  .container-latest-news .latest-news-container.main {
    justify-content: center;
  }
  .container-latest-news .latest-news-container.main .latest-new {
    flex-basis: 85%;
  }
  .background-news-wrapper-box {
    flex-direction: column;
    gap: 40px;
  }
  .header-container .btn.gradient {
    display: none;
  }
  .visible-box {
    width: 98%;
  }
  .visible-box .slider-box {
    gap: 5px;
  }
  .visible-box .slider-box--img {
    height: 75px;
  }
  .visible-box p,
.visible-box .news-date {
    font-size: 12px;
  }
  .container-top-news--categories {
    justify-content: center;
  }
  .container-latest-news .sidebar-posts .latest-news-box {
    width: 100%;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper {
    flex-direction: row;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper .news-box-small--info {
    justify-content: center;
  }
}/*# sourceMappingURL=responsive.css.map */