@import "./colors.scss";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
i {
  color: #a7a3a3;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

img {
  object-fit: cover;
}

header {
  padding: 18px 15px;
  text-transform: capitalize;
  .icons-container {
    i {
      font-size: 20px;
      padding: 0 14px;
      &:hover {
        color: #000;
      }
    }
  }
  .fa-magnifying-glass {
    position: relative;
    border-right: #a7a3a3 solid 1px;
  }
}

.navbar {
  color: $main-gray;
  a {
    margin: 0px 15px;
  }
  .categories {
    position: relative;
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -3px;
    }
    .sub-categories {
      position: absolute;
      left: 0;
      top: 18px;
      box-shadow: rgba(243, 64, 121, 0.2) -5px 5px,
        rgba(203, 35, 77, 0.3) -10px 10px;
      border-radius: 5px;
      padding: 12px 17px;
      background: #fff;
      color: #343232;
      opacity: 0;
      z-index: 2;
      transition: 0.2s all ease-out;
      li:not(:last-child) {
        margin-bottom: 9px;
      }
      a {
        margin: 0;
        font-weight: 300;
        &:hover {
          color: $main-red;
        }
      }
    }
  }
  a {
    transition: 0.2s all ease-out;
    &:hover {
      color: #000;
    }
  }
  .logo {
    color: #000;
  }

  &.small-res {
    height: 100vh;
    background-color: #fff;
    position: absolute;
    width: 226px;
    top: 0;
    left: -100%;
    transition: 0.3s all ease-in-out;
    padding: 17px;
    z-index: 1;
    &.active {
      left: 0;
    }

    li {
      padding-bottom: 5px;
      border-bottom: 1px solid #ededed;
    }

    a:hover {
      color: $main-red;
    }

    .contact-container {
      font-size: 13px;
      & > div {
        margin-bottom: 8px;
        display: flex;
        gap: 5px;
      }
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: $main-red;
  }
}
.container-1 {
  height: calc(100% - 91px);

  p,
  h2 {
    transition: all 0.5s ease-in-out;
  }
  .background-news-wrapper {
    padding: 70px 30px;
    font-family: "Cairo";
    background-image: url("../assets/images/background-images/0.jpg");
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    .news-container {
      flex-basis: 66%;
      font-size: 22px;
    }

    &-box {
      width: 90%;
      .news-container,
      .weather-container {
        font-family: "Julee";
      }
    }
  }
}

.container-2 {
  padding: 65px 20px;
  .topbar {
    color: $main-gray;
    justify-content: flex-start;
    gap: 440px;
    padding: 0 65px;
    &-header {
      position: relative;
      color: #000;
      &::after {
        content: "";
        width: 400px;
        height: 4px;
        background: #f63a3a;
        position: absolute;
        left: 110%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .container-2--categories li {
      transition: 0.2s all ease-out;
      &:hover {
        color: #000;
        transform: scale(1.03);
      }
    }
  }
}
$slider-box-width: 45%;
$gap: 4%;
$movement: $slider-box-width + $gap;

.visible-box {
  background-color: white;
  height: 165px;
  position: absolute;
  padding-top: 18px;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  right: 4%;
  top: 84%;
  border-radius: 20px;
  .slider-box {
    position: absolute;
    border-radius: 50px 0 0 50px;
    width: $slider-box-width;
    align-items: center;
    color: #000;
    font-weight: 700;
    transition: 0.5s all ease-out;
    &--text {
      justify-content: space-between;
      height: 100%;
    }
    cursor: pointer;
    i {
      color: #000;
    }
    &--img {
      border-radius: 15px;
      background-size: cover;
      height: 120px;
      flex-basis: 76%;
      max-width: 120px;
    }
    &:nth-child(1) {
      left: -$slider-box-width;
    }
    &:nth-child(2) {
      left: $gap;
    }
    &:nth-child(3) {
      left: calc($gap + $movement);
    }
    &:nth-child(4) {
      left: calc($gap + (2 * $movement));
    }
  }
}

.container-3 {
  align-items: flex-start;
  padding: 0 12px;
  .top-news-box {
    cursor: pointer;
    .small-news-wrapper:not(:last-child) {
      padding-bottom: 10px;
      border-bottom: #a7a3a3 solid 1px;
    }
    &:first-child {
      position: relative;
      width: 459px;
      min-height: 269px;
      height: 331px;
    }

    .news-box-small--info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      .date-container {
        margin-top: 8px;
      }
      h5 {
        width: 70%;
        line-height: 20px;
      }
    }

    &:hover .news-box-large--image {
      transform: scale(1.05);
    }
    .news-box-large--info {
      position: absolute;
      width: 77%;
      bottom: 15%;
      left: 3%;
    }

    .news-box-large--image {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &,
      img {
        width: 100%;
        height: 100%;
        transition: 0.5s all ease-out;
        filter: invert(9%);
      }
    }
    .news-box-small--image {
      width: 118px;
      height: 118px;
      padding: 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    &.large-res {
      ul {
        gap: 9px;
      }
    }
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    &.active .bar:nth-child(2) {
      opacity: 0;
    }
    &.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .navbar.large-res {
    display: none;
  }
}

.logo {
  width: 55px;
  img {
    width: 100%;
    filter: invert(76%) sepia(85%) saturate(5625%) hue-rotate(329deg)
      brightness(88%) contrast(121%);
  }
  span {
    font-family: "Kaushan Script", cursive;
    font-size: 22px;
  }
}

/* shared styles */

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}

.align-items-center {
  align-items: center;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

.font-bold {
  font-weight: 700;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-30 {
  font-size: 30px;
}

.btn {
  cursor: pointer;
  padding: 0 48px;
  transition: all 0.4s ease-out 0s;
  font-weight: 700;
  padding: 3px 20px 0 20px;
  text-transform: uppercase;
  &.subscription {
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    height: 40px;
    span {
      transition: all 200ms;
    }
    &:active,
    &:hover {
      outline: 0;
      span {
        transform: scale(0.7);
        opacity: 0.75;
      }
    }
  }
}

.filter-colorful {
  filter: invert(35%) sepia(41%) saturate(6844%) hue-rotate(342deg)
    brightness(101%) contrast(93%);
}

.visible {
  opacity: 0.95 !important;
}

.chosen-category {
  color: $main-red;
}

.badge {
  background: $main-red;
  color: #fff;
  line-height: 30px;
  width: 100px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.small-news-wrapper:hover .badge-light {
  background-color: $main-red;
  color: #fff;
}
.badge-light {
  background-color: $light-red;
  color: $main-red;
  transition: 0.2s all ease-out;
}

.color-white {
  color: #fff;
}

.color-gray {
  color: $main-gray;
}

.border-radius {
  border-radius: 15px;
}
