*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

i {
  color: #a7a3a3;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

input,
textarea {
  outline: none;
}

#main {
  display: none;
  height: 100%;
}

header {
  padding: 18px 15px;
  text-transform: capitalize;
}
header .icons-container i {
  font-size: 20px;
  padding: 0 14px;
}
header .icons-container i:hover {
  color: #000;
}
header .fa-magnifying-glass {
  position: relative;
  border-right: #a7a3a3 solid 1px;
}

.navbar {
  color: #666666;
}
.navbar a {
  margin: 0px 15px;
}
.navbar .categories {
  position: relative;
}
.navbar .categories i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3px;
}
.navbar .categories .sub-categories {
  position: absolute;
  left: 0;
  top: 28px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 12px 17px;
  background: #fff;
  color: #343232;
  opacity: 0;
  z-index: 2;
  transition: 0.2s all ease-out;
}
.navbar .categories .sub-categories li:not(:last-child) {
  margin-bottom: 9px;
}
.navbar .categories .sub-categories a {
  margin: 0;
  font-weight: 300;
}
.navbar .categories .sub-categories a:hover {
  color: #f63a3a;
}
.navbar a {
  transition: 0.2s all ease-out;
}
.navbar a:hover {
  color: #000;
}
.navbar .logo {
  color: #000;
}
.navbar.small-res {
  height: 100vh;
  background-color: #fff;
  position: absolute;
  width: 226px;
  top: 0;
  left: -100%;
  transition: 0.3s all ease-in-out;
  padding: 17px;
  z-index: 10;
}
.navbar.small-res.active {
  left: 0;
}
.navbar.small-res li {
  padding-bottom: 5px;
  border-bottom: 1px solid #ededed;
}
.navbar.small-res a:hover {
  color: #f63a3a;
}
.navbar.small-res .contact-container {
  font-size: 13px;
}
.navbar.small-res .contact-container > div {
  margin-bottom: 8px;
  display: flex;
  gap: 5px;
}

.hamburger {
  display: none;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #f63a3a;
}

.container-background {
  height: calc(100% - 91px);
  position: relative;
}
.container-background p,
.container-background h2 {
  transition: all 0.5s ease-in-out;
}
.container-background .background-cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url("../assets/images/background-images/image-0.jpg");
  transition: background-image 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.container-background .background-cover::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: -2;
}
.container-background .background-news-wrapper {
  padding: 70px 30px;
  font-family: "Cairo";
}
.container-background .background-news-wrapper .news-container {
  flex-basis: 66%;
  font-size: 22px;
}
.container-background .background-news-wrapper-box {
  width: 90%;
}
.container-background .background-news-wrapper-box .news-container,
.container-background .background-news-wrapper-box .weather-container {
  font-family: "Julee";
}

.container-top-news,
.container-latest-news,
.container-trending-news {
  padding: 65px 20px;
}
.container-top-news .topbar,
.container-latest-news .topbar,
.container-trending-news .topbar {
  color: #666666;
  padding: 0 65px;
}
.container-top-news .topbar-header,
.container-latest-news .topbar-header,
.container-trending-news .topbar-header {
  white-space: nowrap;
}
.container-top-news .topbar .container-top-news--categories,
.container-latest-news .topbar .container-top-news--categories,
.container-trending-news .topbar .container-top-news--categories {
  flex-wrap: wrap;
}
.container-top-news .topbar .container-top-news--categories li a,
.container-latest-news .topbar .container-top-news--categories li a,
.container-trending-news .topbar .container-top-news--categories li a {
  transition: 0.2s all ease-out;
}
.container-top-news .topbar .container-top-news--categories li a:hover,
.container-latest-news .topbar .container-top-news--categories li a:hover,
.container-trending-news .topbar .container-top-news--categories li a:hover {
  color: #000;
  transform: scale(1.03);
}

.container-latest-news .latest-news-main {
  width: 80;
}
.container-latest-news .latest-news-container.main .img-wrapper {
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  height: 200px;
}
.container-latest-news .latest-news-container.main .img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 9px 9px 0 0;
  transition: 0.5s all ease-out;
}
.container-latest-news .latest-news-container.main .latest-new {
  border-radius: 9px;
  flex-basis: 28%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 437px;
  overflow: hidden;
  cursor: pointer;
}
.container-latest-news .latest-news-container.main .latest-new:hover img {
  transform: scale(1.05);
}
.container-latest-news .latest-news-container.main .latest-new--info {
  padding: 13px 22px;
}
.container-latest-news .sidebar {
  width: 230px;
}
.container-latest-news .sidebar-title {
  border-bottom: 2px solid #ffeaea;
  position: relative;
}
.container-latest-news .sidebar-title ::after {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 10px solid #ffeaea;
  border-right: 10px solid transparent;
}
.container-latest-news .sidebar .badge {
  border-radius: 0;
}
.container-latest-news .sidebar .sidebar-posts .news-date {
  font-size: 11px;
}
.container-latest-news .sidebar .sidebar-posts .news-box-small--info h5 {
  line-height: 13px;
}
.container-latest-news .sidebar .sidebar-posts .news-box-small--image {
  width: 203px;
  height: 94px;
}
.container-latest-news .sidebar-poster {
  z-index: 1;
  background-image: url("../assets/poster.png");
  position: relative;
  padding: 30px 20px 30px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.container-latest-news .sidebar-poster .poster-logo {
  margin-left: 23px;
}
.container-latest-news .sidebar-poster .poster-info {
  color: #c8c8c8;
}
.container-latest-news .sidebar-poster .poster-ad,
.container-latest-news .sidebar-poster .poster-info {
  text-align: center;
}
.container-latest-news .sidebar-poster::before {
  border-radius: 10px;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.container-social .box {
  width: 20%;
  height: 285px;
  color: #fff;
}
.container-social .box a {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-social .box i {
  display: block;
  font-size: 50px;
  color: #fff;
}
.container-social .box span {
  font-size: 24px;
  font-weight: 700;
}
.container-social .box span span {
  font-weight: 300;
}

.instagram {
  background-image: url("../assets/instagram-bg.jpg");
}

.facebook {
  background-color: #4267b2;
}

.twitter {
  background-color: #1da1f2;
}

.pinterest {
  background-color: #e60023;
}

.dribble {
  background-color: #ea4c89;
}

footer {
  padding: 75px;
  background-color: #000;
}
footer .footer-main-container .footer-box {
  flex-basis: 35%;
}
footer .footer-main-container .footer-box:not(:nth-child(2)) {
  border-bottom: #f63a3a 1px solid;
}
footer .social-feed {
  display: none;
}
footer .social-feed i {
  font-size: 31px;
  color: #fff;
}
footer .social-feed .box {
  width: 45px;
  height: 45px;
}
footer ul a {
  display: inline-block;
  margin-bottom: 16px;
  transition: 0.2s all ease-out;
}
footer ul a:hover {
  color: #f63a3a;
}
footer button {
  width: 100%;
  height: 56px !important;
  font-size: 16px;
  font-weight: 400;
}
footer h4 {
  font-size: 18px;
  display: inline;
  color: #fff;
}
footer form .input-wrapper {
  position: relative;
}
footer form .input-wrapper input {
  width: 100%;
  background: #0d0d0d;
  color: #686868;
  border: 0;
  height: 60px;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 48px;
}
footer form .input-wrapper i {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: #686868;
  z-index: 1;
}

.copyright-box {
  padding: 25px;
  background: #111111;
}
.copyright-box li a {
  cursor: pointer;
  transition: 0.2s all ease-out;
}
.copyright-box li a:hover {
  color: #f63a3a;
}

.visible-box {
  background-color: white;
  height: 165px;
  position: absolute;
  padding-top: 18px;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  right: 4%;
  top: 84%;
  border-radius: 20px;
}
.visible-box .slider-box {
  position: absolute;
  border-radius: 50px 0 0 50px;
  width: 45%;
  align-items: center;
  color: #000;
  font-weight: 700;
  transition: 0.5s all ease-out;
}
.visible-box .slider-box--text {
  justify-content: space-between;
  height: 100%;
}
.visible-box .slider-box i {
  color: #000;
}
.visible-box .slider-box--img {
  border-radius: 15px;
  background-size: cover;
  height: 120px;
  flex-basis: 76%;
  max-width: 120px;
  width: 120px;
}
.visible-box .slider-box:nth-child(1) {
  left: -45%;
}
.visible-box .slider-box:nth-child(2) {
  left: 4%;
}
.visible-box .slider-box:nth-child(3) {
  left: 53%;
}
.visible-box .slider-box:nth-child(4) {
  left: 102%;
}

.container-top-section {
  position: relative;
  align-items: flex-start;
  min-height: 350px;
}
.container-top-section .top-news-box .small-news-wrapper:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: #a7a3a3 solid 1px;
}
.container-top-section .top-news-box:first-child {
  position: relative;
  flex-basis: 41%;
  min-height: 269px;
  height: 396px;
}
.container-top-section .top-news-box:hover .news-box-large--image img {
  transform: scale(1.05);
}
.container-top-section .top-news-box .news-box-large--info {
  position: absolute;
  width: 77%;
  bottom: 15%;
  left: 3%;
}
.container-top-section .top-news-box .news-box-large--image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-top-section .top-news-box .news-box-large--image,
.container-top-section .top-news-box .news-box-large--image img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-out;
  filter: invert(9%);
}

.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #f63a3a;
  border-bottom: 7px solid #f63a3a;
  width: 120px;
  height: 119px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-categories {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.success-popup {
  width: 400px;
  background-color: #00a36c;
  height: 54px;
  position: fixed;
  top: 0%;
  left: 100%;
  transform: translate(-400px, 0px);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: -10;
  transition: 0.4s all ease-out;
  opacity: 0;
}

.contact-page {
  padding: 30px;
  padding-top: 0;
  margin-bottom: 464px;
}
.contact-page input,
.contact-page textarea {
  width: 100%;
  border: 2px solid #d8d8d8;
  height: 60px;
  font-size: 14px;
  color: #000;
  padding: 20px 30px;
  transition: all 0.2s ease-out;
  box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.04);
}
.contact-page input:hover,
.contact-page textarea:hover {
  box-shadow: none;
}
.contact-page .contact-form-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  background: #fff;
  padding: 30px 41px;
  width: 80%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.contact-page .contact-inputs-container {
  margin-top: 30px;
}
.contact-page .contact-form-header {
  border-bottom: 1px solid #dadada;
  padding-bottom: 25px;
}
.contact-page .text-inputs-box .input-box {
  flex-basis: 49%;
}
.contact-page .input-box {
  position: relative;
}
.contact-page .input-box i {
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translatey(-50%);
}
.contact-page .input-box span {
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  font-size: 12px;
  color: red;
}
.contact-page .input-box.textarea-box textarea {
  height: 250px;
}
.contact-page .input-box.textarea-box i {
  top: 32px;
}

.about-page {
  padding: 46px 126px;
  color: #777777;
  background-color: #f8f8f8;
}
.about-page h4,
.about-page h5 {
  color: #000;
}
.about-page .about-container h4 {
  padding-bottom: 24px;
  border-bottom: 1px solid #dadada;
}
.about-page .about-container .about-boxes-wrapper {
  padding: 0 14px;
}
.about-page .box {
  padding: 30px;
  text-align: center;
  border: 2px solid #d3d3d3;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  transition: all 0.2s ease-out;
}
.about-page .box:hover {
  box-shadow: none;
  border-color: #fff;
}
.about-page .box--image,
.about-page .box h5 {
  margin-bottom: 24px;
}
.about-page .box img {
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .navbar.large-res ul {
    gap: 9px;
  }
}
@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar.large-res {
    display: none;
  }
}
.container-top-section,
.container-latest-news {
  padding: 20px 85px;
}

.news-box-small--info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.news-box-small--info .date-container {
  margin-top: 8px;
}
.news-box-small--info h5 {
  width: 70%;
  line-height: 20px;
}

.text-with-line-wrapper {
  position: relative;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
  flex: 1;
}
.text-with-line-wrapper .line {
  width: 61%;
  height: 4px;
  background: #f63a3a;
  display: inline-block;
}

.news-box-small--image {
  min-width: 118px;
  width: 118px;
  height: 118px;
  padding: 5px;
}
.news-box-small--image img {
  width: 100%;
  height: 100%;
}

.logo {
  width: 55px;
}
.logo img {
  width: 100%;
  filter: invert(76%) sepia(85%) saturate(5625%) hue-rotate(329deg) brightness(88%) contrast(121%);
}
.logo span {
  font-family: "Kaushan Script", cursive;
  font-size: 22px;
}

/* shared styles */
.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.flex-direction-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-35 {
  gap: 35px;
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.align-items-center {
  align-items: center;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

.font-bold {
  font-weight: 700;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-30 {
  font-size: 30px;
}

.line-height-25 {
  line-height: 25px;
}

.line-height-28 {
  line-height: 28px;
}

.btn {
  cursor: pointer;
  padding: 0 48px;
  transition: all 0.4s ease-out 0s;
  font-weight: 700;
  padding: 3px 20px 0 20px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  height: 40px;
  color: #fff;
}
.btn span {
  transition: all 200ms;
}
.btn:active, .btn:hover {
  outline: 0;
}
.btn:active span, .btn:hover span {
  transform: scale(0.7);
  opacity: 0.75;
}
.btn.gradient {
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}
.btn.btn-default {
  background-image: linear-gradient(135deg, #f63a3a 40%, #f63a3a);
}
.btn.btn-medium {
  height: 60px;
  padding: 3px 42px 0 42px;
}
.btn.btn-borderless {
  border-radius: unset;
}
.btn.btn-pink {
  background: #e74d58;
}
.btn.btn-pink:hover {
  background: #fff;
  color: #e74d58;
  box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.04);
}

.filter-colorful {
  filter: invert(35%) sepia(41%) saturate(6844%) hue-rotate(342deg) brightness(101%) contrast(93%);
}

.visible {
  opacity: 0.95 !important;
}

.active-red {
  color: #f63a3a;
}

.badge {
  background: #f63a3a;
  color: #fff;
  line-height: 30px;
  padding: 3px 16px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.small-news-wrapper:hover .badge-light,
.latest-new:hover .badge-light {
  background-color: #f63a3a;
  color: #fff;
}

.badge-light {
  background-color: #ffeaea;
  color: #f63a3a;
  transition: 0.2s all ease-out;
}

.color-white {
  color: #fff;
}

.color-grey {
  color: #666666;
}

.color-light-grey {
  color: #999;
}

.color-black {
  color: #000;
}

.border-radius {
  border-radius: 15px;
}

.pointer {
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

@media (max-width: 1300px) {
  .about-page {
    padding: 47px 52px;
  }
  .container-top-news.latest .topbar .line {
    width: 100%;
  }
  .poster-info {
    font-size: 20px;
  }
  .poster-ad button {
    padding: 3px 42px 0 42px;
    height: 48px;
  }
  .container-latest-news {
    flex-direction: column;
  }
  .container-latest-news .latest-news-container {
    justify-content: space-between;
  }
  .container-latest-news .latest-news-main {
    margin-bottom: 38px;
  }
  .container-latest-news .sidebar {
    width: unset;
  }
  .container-latest-news .sidebar-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 27px;
    margin-bottom: 35px;
  }
  .container-latest-news .sidebar-posts .latest-news-box {
    width: 30%;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper {
    flex-direction: column;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper .news-box-small--image {
    height: 138px;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper .news-box-small--info h5 {
    line-height: 18px;
    font-size: 16px;
    width: 100%;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper .news-box-small--info .news-date {
    font-size: 13px;
  }
  .visible-box {
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
  }
  .top-news-box-wrapper {
    flex-direction: column;
  }
  .top-news-box-wrapper .news-box-small--info {
    justify-content: center;
    white-space: nowrap;
  }
  .top-news-box-wrapper .top-news-box {
    width: 86%;
    margin: 0 auto;
  }
  .top-news-box-wrapper .top-news-box:first-child {
    min-height: 400px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .container-social {
    display: none;
  }
  footer .social-feed {
    display: flex;
  }
  .container-top-news {
    display: flex;
    justify-content: center;
  }
  .container-top-news .topbar:not(.container-top-news.latest .topbar),
.container-latest-news .topbar,
.container-trending-news .topbar {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
  }
  .container-top-news .topbar:not(.container-top-news.latest .topbar) ul,
.container-latest-news .topbar ul,
.container-trending-news .topbar ul {
    font-size: 16px;
  }
  .container-top-news .topbar:not(.container-top-news.latest .topbar) .text-with-line-wrapper,
.container-latest-news .topbar .text-with-line-wrapper,
.container-trending-news .topbar .text-with-line-wrapper {
    width: 100%;
  }
  .container-top-news .topbar:not(.container-top-news.latest .topbar) .text-with-line-wrapper .line,
.container-latest-news .topbar .text-with-line-wrapper .line,
.container-trending-news .topbar .text-with-line-wrapper .line {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .about-page .about-container .about-boxes-wrapper {
    flex-wrap: wrap;
  }
  .about-page .about-container .about-boxes-wrapper .box {
    flex-basis: 48%;
  }
  footer {
    padding: 20px 31px;
  }
  footer .footer-categories {
    justify-content: flex-start;
  }
  footer .footer-main-container {
    flex-direction: column;
  }
  footer .footer-main-container .footer-box {
    border-bottom: unset !important;
  }
  .container-top-section {
    padding: 0px 15px;
  }
  .container-top-section .news-box-small--info {
    white-space: normal;
  }
  .visible-box {
    width: 93%;
  }
  .visible-box .slider-box--img {
    max-width: 110px;
    height: 110px;
  }
  .visible-box p,
.visible-box .slider-box---date {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about-page .about-container .about-boxes-wrapper {
    justify-content: center;
  }
  .about-page .about-container .about-boxes-wrapper .box {
    flex-basis: 100%;
  }
  .copyright-box {
    padding: 12px;
    font-size: 13px;
  }
  .copyright-box ul {
    gap: 5px;
  }
  .container-top-news.latest .topbar {
    padding: 0;
  }
  .container-top-section,
.container-latest-news {
    padding: 20px 31px;
  }
  .container-latest-news .sidebar-posts {
    justify-content: center;
  }
  .container-latest-news .sidebar-posts .latest-news-box {
    width: 47%;
  }
  .visible-box {
    width: 97%;
  }
  .visible-box p,
.visible-box .news-date {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .container-latest-news .latest-news-container.main {
    justify-content: center;
  }
  .container-latest-news .latest-news-container.main .latest-new {
    flex-basis: 85%;
  }
  .background-news-wrapper-box {
    flex-direction: column;
    gap: 40px;
  }
  .header-container .btn.gradient {
    display: none;
  }
  .visible-box {
    width: 98%;
  }
  .visible-box .slider-box {
    gap: 5px;
  }
  .visible-box .slider-box--img {
    height: 75px;
  }
  .visible-box p,
.visible-box .news-date {
    font-size: 12px;
  }
  .container-top-news--categories {
    justify-content: center;
  }
  .container-latest-news .sidebar-posts .latest-news-box {
    width: 100%;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper {
    flex-direction: row;
  }
  .container-latest-news .sidebar-posts .latest-news-box .small-news-wrapper .news-box-small--info {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */