*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

i {
  color: #a7a3a3;
  transition: 0.2s all ease-out;
  cursor: pointer;
}
i:hover {
  color: #000;
}

header {
  padding: 18px 15px;
  text-transform: capitalize;
}
header .icons-container i {
  font-size: 20px;
  padding: 0 14px;
}
header .fa-magnifying-glass {
  position: relative;
  border-right: #a7a3a3 solid 1px;
}

.navbar {
  color: #666666;
}
.navbar a {
  margin: 0px 15px;
}
.navbar .categories {
  position: relative;
}
.navbar .categories i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3px;
}
.navbar .categories .sub-categories {
  position: absolute;
  left: 0;
  top: 18px;
  box-shadow: rgba(243, 64, 121, 0.2) -5px 5px, rgba(203, 35, 77, 0.3) -10px 10px;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px 17px;
  background: #fff;
  color: #343232;
  opacity: 0;
  z-index: 2;
  transition: 0.2s all ease-out;
}
.navbar .categories .sub-categories li:not(:last-child) {
  margin-bottom: 9px;
}
.navbar .categories .sub-categories a {
  margin: 0;
  font-weight: 300;
}
.navbar .categories .sub-categories a:hover {
  color: #f63a3a;
}
.navbar a {
  transition: 0.2s all ease-out;
}
.navbar a:hover {
  color: #000;
}
.navbar .logo {
  color: #000;
}
.navbar.small-res {
  height: 100vh;
  background-color: #fff;
  position: absolute;
  width: 226px;
  top: 0;
  left: -100%;
  transition: 0.3s all ease-in-out;
  padding: 17px;
  z-index: 1;
}
.navbar.small-res.active {
  left: 0;
}
.navbar.small-res li {
  padding-bottom: 5px;
  border-bottom: 1px solid #ededed;
}
.navbar.small-res a:hover {
  color: #f63a3a;
}
.navbar.small-res .contact-container {
  font-size: 13px;
}
.navbar.small-res .contact-container > div {
  margin-bottom: 8px;
  display: flex;
  gap: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #f63a3a;
}

.container-1 {
  height: calc(100% - 91px);
}
.container-1 p,
.container-1 h2 {
  transition: all 0.5s ease-in-out;
}
.container-1 .background-news-wrapper {
  padding: 70px 30px;
  font-family: "Cairo";
  background-image: url("../assets/images/background-images/0.jpg");
  transition: background-image 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.container-1 .background-news-wrapper .news-container {
  flex-basis: 66%;
  font-size: 22px;
}
.container-1 .background-news-wrapper-box {
  width: 90%;
}
.container-1 .background-news-wrapper-box .news-container,
.container-1 .background-news-wrapper-box .weather-container {
  font-family: "Julee";
}

.visible-box {
  background-color: white;
  height: 216px;
  position: absolute;
  padding-top: 18px;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  right: 4%;
  top: 84%;
  border-radius: 20px;
}
.visible-box .slider-box {
  position: absolute;
  border-radius: 50px 0 0 50px;
  width: 45%;
  align-items: center;
  color: #000;
  font-weight: 700;
  transition: 0.5s all ease-out;
  cursor: pointer;
}
.visible-box .slider-box--text {
  justify-content: space-between;
  height: 100%;
}
.visible-box .slider-box i {
  color: #000;
}
.visible-box .slider-box--img {
  border-radius: 15px;
  background-size: cover;
  height: 120px;
  flex-basis: 76%;
  max-width: 120px;
}
.visible-box .slider-box:nth-child(1) {
  left: -45%;
}
.visible-box .slider-box:nth-child(2) {
  left: 4%;
}
.visible-box .slider-box:nth-child(3) {
  left: 53%;
}
.visible-box .slider-box:nth-child(4) {
  left: 102%;
}

@media (max-width: 1024px) {
  .navbar.large-res ul {
    gap: 9px;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar.large-res {
    display: none;
  }
}
.logo {
  width: 55px;
}
.logo img {
  width: 100%;
  filter: invert(76%) sepia(85%) saturate(5625%) hue-rotate(329deg) brightness(88%) contrast(121%);
}
.logo span {
  font-family: "Kaushan Script", cursive;
  font-size: 22px;
}

/* shared styles */
.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}

.align-items-center {
  align-items: center;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

.font-bold {
  font-weight: 700;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-20 {
  font-size: 20px;
}

.btn {
  cursor: pointer;
  padding: 0 48px;
  transition: all 0.4s ease-out 0s;
  font-weight: 700;
  padding: 3px 20px 0 20px;
  text-transform: uppercase;
  font-size: 14px;
}
.btn.subscription {
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  height: 40px;
}
.btn.subscription span {
  transition: all 200ms;
}
.btn.subscription:active, .btn.subscription:hover {
  outline: 0;
}
.btn.subscription:active span, .btn.subscription:hover span {
  transform: scale(0.7);
  opacity: 0.75;
}

.filter-colorful {
  filter: invert(35%) sepia(41%) saturate(6844%) hue-rotate(342deg) brightness(101%) contrast(93%);
}

.visible {
  opacity: 0.95 !important;
}

.badge {
  background: #f63a3a;
  line-height: 30px;
  width: 100px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.color-white {
  color: #fff;
}/*# sourceMappingURL=style.css.map */